# 修改自 https://github.com/P3TERX/GeoLite.mmdb
name: Publish GeoLite2-City.mmdb

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: 0 1 */3 * *

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Download GeoLite2-City.mmdb
      run: |
        wget -nv -O- "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key=${{ secrets.LICENSE_KEY }}&suffix=tar.gz" | tar zxv
        mkdir -p data
        cp -v GeoLite2-City_*/GeoLite2-City.mmdb data/

    - name: Commit and push to main branch
      run: | 
        if [[ -n "$(git status --porcelain)" ]]; then
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add data/GeoLite2-City.mmdb
          git commit -m "chore: Update GeoLite2-City.mmdb to ${{ env.TAG_NAME }}"
          git push "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
        else
          echo "No changes to commit, skip commit"
        fi
      env:
        TAG_NAME: $(date +"%Y.%m.%d")
